.form_input {
    border: 1px solid rgba(107, 114, 128, 1) !important;
    height: 3rem !important;
    width: 100% !important;
}

.form_container {
    font-family: "Poppins", sans-serif;
}

.flag_dropdown {
    /* background-color: red !important; */
    border: 1px solid rgba(107, 114, 128, 1) !important;
}
.form_input:focus,
.flag_dropdown:focus {
    border: 2px solid black !important;
}
